Source: ros-kinetic-msp
Section: misc
Priority: extra
Maintainer: Christian Rauch <Rauch.Christian@gmx.de>
Build-Depends: debhelper (>= 9.0.0), libasio-dev, ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-msp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libasio-dev
Description: Implementation of the MultiWii Serial Protocol (MSP)
